# Sensitive files - USIPUSH kwenye GitHub!
set.env
*.env
.env

# Database files
*.db
database.db

# Auth session files
auth/creds.json
auth/*.json

# Node modules
node_modules/

# Temp files
temp/*
!temp/rah

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
